In [1]:
import pandas as pd
import numpy as np

In [53]:
df_weather = pd.read_csv(r"C:\Users\user\Desktop\AI Lab\p2\weather_data\weather_data_2016-01-01", sep='\t', header=None)
df_weather.columns = ['Time', 'Weather', 'Temperature', 'PM2.5']
df_weather
# Drop rows with null or non-numeric values
df_weather = df_weather.dropna() # Drop rows with null values
df_weather = df_weather[~df_weather.isin([np.nan, np.inf, -np.inf]).any(1)] # Drop rows with non-numeric values

# Check for null or non-numeric values again
print(df_weather.isnull().sum())
print(df_weather[df_weather.applymap(np.isreal).all(1)].count())
print(df_weather)

Time           0
Weather        0
Temperature    0
PM2.5          0
dtype: int64
Time           0
Weather        0
Temperature    0
PM2.5          0
dtype: int64
                    Time  Weather  Temperature  PM2.5
0    2016-01-01 00:00:28        1          4.0    177
1    2016-01-01 00:05:24        1          3.0    177
2    2016-01-01 00:10:08        1          3.0    177
3    2016-01-01 00:15:27        1          3.0    177
4    2016-01-01 00:20:06        1          3.0    177
..                   ...      ...          ...    ...
274  2016-01-01 23:35:07        2          8.0    126
275  2016-01-01 23:40:20        2          8.0    131
276  2016-01-01 23:45:03        2          8.0    131
277  2016-01-01 23:50:16        2          8.0    131
278  2016-01-01 23:55:29        2          8.0    131

[279 rows x 4 columns]

In [37]:
df_order = pd.read_csv(r"C:\Users\user\Desktop\AI Lab\p2\order_data\order_data_2016-01-01", sep='\t', header=None)
df_order.columns = ['order_id', 'driver_id', 'passenger_id', 'start_region_hash','dest_region_hash','Price','Time']
df_order

,order_id,driver_id,passenger_id,start_region_hash,dest_region_hash,Price,Time
0,97ebd0c6680f7c0535dbfdead6e51b4b,dd65fa250fca2833a3a8c16d2cf0457c,ed180d7daf639d936f1aeae4f7fb482f,4725c39a5e5f4c188d382da3910b3f3f,3e12208dd0be281c92a6ab57d9a6fb32,24.0,2016-01-01 13:37:23
1,92c3ac9251cc9b5aab90b114a1e363be,c077e0297639edcb1df6189e8cda2c3d,191a180f0a262aff3267775c4fac8972,82cc4851f9e4faa4e54309f8bb73fd7c,b05379ac3f9b7d99370d443cfd5dcc28,2.0,2016-01-01 09:47:54
2,abeefc3e2aec952468e2fd42a1649640,86dbc1b68de435957c61b5a523854b69,7029e813bb3de8cc73a8615e2785070c,fff4e8465d1e12621bc361276b6217cf,fff4e8465d1e12621bc361276b6217cf,9.0,2016-01-01 18:24:02
3,cb31d0be64cda3cc66b46617bf49a05c,4fadfa6eeaa694742de036dddf02b0c4,21dc133ac68e4c07803d1c2f48988a83,4b7f6f4e2bf237b6cc58f57142bea5c0,4b7f6f4e2bf237b6cc58f57142bea5c0,11.0,2016-01-01 22:13:27
4,139d492189ae5a933122c098f63252b3,NaN,26963cc76da2d8450d8f23fc357db987,fc34648599753c9e74ab238e9a4a07ad,87285a66236346350541b8815c5fae94,4.0,2016-01-01 17:00:06
...,...,...,...,...,...,...,...
501282,3f89a682ad12708095da4cbe2ccdab90,ac8c9e9a93fd7466ea26e729ce719dc4,56242551b109c1836958fa1ba09d94ba,74c1c25f4b283fa74a5514307b0d0278,74c1c25f4b283fa74a5514307b0d0278,7.0,2016-01-01 20:43:07
501283,677a78060b26e60191ff874b2b07be1d,48f1dca979de77f9a1db47cf867317f7,f5636ff3c2dbce0bf29283abbd0d48d7,2407d482f0ffa22a947068f2551fe62c,91690261186ae5bee8f83808ea1e4a01,7.0,2016-01-01 15:27:42
501284,b63daeda6d2f6d07af9d3bb37ebc8318,8c4c2fea7256337d2bbcc9fd2d1ae349,92ce1d70618e510792555ff10d96dd61,929ec6c160e6f52c20a4217c7978f681,d4ec2125aff74eded207d2d915ef682f,15.0,2016-01-01 21:49:58
501285,c0060c34335286a268f6783bf860062c,9ea6d19f8607f1a0df3fa1577b32953a,b030de3d2c88ba6d88b1eca06c74050f,825a21aa308dea206adb49c4b77c7805,2308e5edf2fbee52203b5c262f557ddf,12.0,2016-01-01 13:05:37
501286,892d1416f003cd5b0d7d751d69900e02,c20498e62d06829df93c2b1455866d3d,d5a45b1681a35d2d456d62d51556ec0d,d4ec2125aff74eded207d2d915ef682f,d4ec2125aff74eded207d2d915ef682f,10.6,2016-01-01 11:05:59

In [49]:
df_cluster = pd.read_csv(r"C:\Users\user\Desktop\AI Lab\p2\cluster_map\cluster_map",sep='\t', header=None)
df_cluster.columns =['hash', 'hash_id']
df_cluster

                                hash  hash_id
0   90c5a34f06ac86aee0fd70e2adce7d8a        1
1   f2c8c4bb99e6377d21de71275afd6cd2        2
2   58c7a4888306d8ff3a641d1c0feccbe3        3
3   b26a240205c852804ff8758628c0a86a        4
4   4b9e4cf2fbdc8281b8a1f9f12b80ce4d        5
..                               ...      ...
61  a735449c5c09df639c35a7d61fad3ee5       62
62  0a5fef95db34383403d11cb6af937309       63
63  bf44d327f0232325c6d5280926d7b37d       64
64  825a21aa308dea206adb49c4b77c7805       65
65  1ecbb52d73c522f184a6fc53128b1ea1       66

[66 rows x 2 columns]

In [54]:
df_merged = pd.merge(df_order, df_weather, on='Time', how='left')

In [55]:
df_merged = df_merged.ffill()

In [56]:
df_merged

,order_id,driver_id,passenger_id,start_region_hash,dest_region_hash,Price,Time,Weather,Temperature,PM2.5
0,97ebd0c6680f7c0535dbfdead6e51b4b,dd65fa250fca2833a3a8c16d2cf0457c,ed180d7daf639d936f1aeae4f7fb482f,4725c39a5e5f4c188d382da3910b3f3f,3e12208dd0be281c92a6ab57d9a6fb32,24.0,2016-01-01 13:37:23,NaN,NaN,NaN
1,92c3ac9251cc9b5aab90b114a1e363be,c077e0297639edcb1df6189e8cda2c3d,191a180f0a262aff3267775c4fac8972,82cc4851f9e4faa4e54309f8bb73fd7c,b05379ac3f9b7d99370d443cfd5dcc28,2.0,2016-01-01 09:47:54,NaN,NaN,NaN
2,abeefc3e2aec952468e2fd42a1649640,86dbc1b68de435957c61b5a523854b69,7029e813bb3de8cc73a8615e2785070c,fff4e8465d1e12621bc361276b6217cf,fff4e8465d1e12621bc361276b6217cf,9.0,2016-01-01 18:24:02,NaN,NaN,NaN
3,cb31d0be64cda3cc66b46617bf49a05c,4fadfa6eeaa694742de036dddf02b0c4,21dc133ac68e4c07803d1c2f48988a83,4b7f6f4e2bf237b6cc58f57142bea5c0,4b7f6f4e2bf237b6cc58f57142bea5c0,11.0,2016-01-01 22:13:27,NaN,NaN,NaN
4,139d492189ae5a933122c098f63252b3,4fadfa6eeaa694742de036dddf02b0c4,26963cc76da2d8450d8f23fc357db987,fc34648599753c9e74ab238e9a4a07ad,87285a66236346350541b8815c5fae94,4.0,2016-01-01 17:00:06,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
501282,3f89a682ad12708095da4cbe2ccdab90,ac8c9e9a93fd7466ea26e729ce719dc4,56242551b109c1836958fa1ba09d94ba,74c1c25f4b283fa74a5514307b0d0278,74c1c25f4b283fa74a5514307b0d0278,7.0,2016-01-01 20:43:07,2.0,12.0,189.0
501283,677a78060b26e60191ff874b2b07be1d,48f1dca979de77f9a1db47cf867317f7,f5636ff3c2dbce0bf29283abbd0d48d7,2407d482f0ffa22a947068f2551fe62c,91690261186ae5bee8f83808ea1e4a01,7.0,2016-01-01 15:27:42,2.0,12.0,189.0
501284,b63daeda6d2f6d07af9d3bb37ebc8318,8c4c2fea7256337d2bbcc9fd2d1ae349,92ce1d70618e510792555ff10d96dd61,929ec6c160e6f52c20a4217c7978f681,d4ec2125aff74eded207d2d915ef682f,15.0,2016-01-01 21:49:58,2.0,12.0,189.0
501285,c0060c34335286a268f6783bf860062c,9ea6d19f8607f1a0df3fa1577b32953a,b030de3d2c88ba6d88b1eca06c74050f,825a21aa308dea206adb49c4b77c7805,2308e5edf2fbee52203b5c262f557ddf,12.0,2016-01-01 13:05:37,2.0,12.0,189.0
501286,892d1416f003cd5b0d7d751d69900e02,c20498e62d06829df93c2b1455866d3d,d5a45b1681a35d2d456d62d51556ec0d,d4ec2125aff74eded207d2d915ef682f,d4ec2125aff74eded207d2d915ef682f,10.6,2016-01-01 11:05:59,2.0,12.0,189.0

In [57]:
df_merged = df_merged.dropna() # Drop rows with null values
df_merged = df_merged[~df_merged.isin([np.nan, np.inf, -np.inf]).any(1)] # Drop rows with non-numeric values

# Check for null or non-numeric values again
print(df_merged.isnull().sum())
print(df_merged[df_merged.applymap(np.isreal).all(1)].count())
print(df_merged)

order_id             0
driver_id            0
passenger_id         0
start_region_hash    0
dest_region_hash     0
Price                0
Time                 0
Weather              0
Temperature          0
PM2.5                0
dtype: int64
order_id             0
driver_id            0
passenger_id         0
start_region_hash    0
dest_region_hash     0
Price                0
Time                 0
Weather              0
Temperature          0
PM2.5                0
dtype: int64
                                order_id                         driver_id  \
120     584c0b8f14a4442cdb6b896fbda03e31  afda495b14a06bb4d11abc55a5d14c26
121     3dea76042ab5ebeed9f1e8431b95f367  afda495b14a06bb4d11abc55a5d14c26
122     0f393aca47b001c2586e55ff4298a040  afda495b14a06bb4d11abc55a5d14c26
123     737c3e77d220f5a9adac507a16eaeb5f  a2b0a31b08f3ea12969dd2ad183a4c6e
124     3a838a4cc368c5dfeed514640e5f44d9  353d541fa18369605a6e4fe9a26d890b
...                                  ...                               ...
501282  3f89a682ad12708095da4cbe2ccdab90  ac8c9e9a93fd7466ea26e729ce719dc4
501283  677a78060b26e60191ff874b2b07be1d  48f1dca979de77f9a1db47cf867317f7
501284  b63daeda6d2f6d07af9d3bb37ebc8318  8c4c2fea7256337d2bbcc9fd2d1ae349
501285  c0060c34335286a268f6783bf860062c  9ea6d19f8607f1a0df3fa1577b32953a
501286  892d1416f003cd5b0d7d751d69900e02  c20498e62d06829df93c2b1455866d3d

                            passenger_id                 start_region_hash  \
120     4f13ac08b5c00ea9df8f02f03486c10d  38d5ad2d22b61109fd8e7b43cd0e8901
121     06f6350ae78dd972ac8314572346d5fd  b26a240205c852804ff8758628c0a86a
122     529994ca6f02f3b97cc67b86a2971193  4725c39a5e5f4c188d382da3910b3f3f
123     8e06034e37375d5b6723817adc950dd7  62afaf3288e236b389af9cfdc5206415
124     144abc66fe33d29a11115b20ca88aec2  52e56004d92b8c74d53e1e42699cba6f
...                                  ...                               ...
501282  56242551b109c1836958fa1ba09d94ba  74c1c25f4b283fa74a5514307b0d0278
501283  f5636ff3c2dbce0bf29283abbd0d48d7  2407d482f0ffa22a947068f2551fe62c
501284  92ce1d70618e510792555ff10d96dd61  929ec6c160e6f52c20a4217c7978f681
501285  b030de3d2c88ba6d88b1eca06c74050f  825a21aa308dea206adb49c4b77c7805
501286  d5a45b1681a35d2d456d62d51556ec0d  d4ec2125aff74eded207d2d915ef682f

                        dest_region_hash  Price                 Time  Weather  \
120     82cc4851f9e4faa4e54309f8bb73fd7c    7.0  2016-01-01 11:10:21      2.0
121     307afa4120c590b3a46cf4ff5415608a   12.0  2016-01-01 05:28:20      2.0
122     905ac1f4c0f46a8d31ac4dc68cef54ca   12.0  2016-01-01 03:36:30      2.0
123     d4ec2125aff74eded207d2d915ef682f    9.5  2016-01-01 14:09:06      2.0
124     b05379ac3f9b7d99370d443cfd5dcc28    9.0  2016-01-01 08:12:28      2.0
...                                  ...    ...                  ...      ...
501282  74c1c25f4b283fa74a5514307b0d0278    7.0  2016-01-01 20:43:07      2.0
501283  91690261186ae5bee8f83808ea1e4a01    7.0  2016-01-01 15:27:42      2.0
501284  d4ec2125aff74eded207d2d915ef682f   15.0  2016-01-01 21:49:58      2.0
501285  2308e5edf2fbee52203b5c262f557ddf   12.0  2016-01-01 13:05:37      2.0
501286  d4ec2125aff74eded207d2d915ef682f   10.6  2016-01-01 11:05:59      2.0

        Temperature  PM2.5
120             6.0  205.0
121             6.0  205.0
122             6.0  205.0
123             6.0  205.0
124             6.0  205.0
...             ...    ...
501282         12.0  189.0
501283         12.0  189.0
501284         12.0  189.0
501285         12.0  189.0
501286         12.0  189.0

[501167 rows x 10 columns]

In [58]:
import datetime
df_merged['Time'] = pd.to_datetime(df_merged['Time'])

# Create a new column for the time component
df_merged['N_Time'] = df_merged['Time'].dt.strftime('%H:%M:%S')

In [59]:
df_merged['Time'] = pd.to_datetime(df_merged['Time'])
bins = pd.interval_range(start=df_merged['Time'].min().floor('10min'), end=df_merged['Time'].max().ceil('10min'), freq='10min')
labels = [f'slot{i}' for i in range(len(bins))]

# Assign slot numbers to rows based on their time values
df_merged['slot'] = pd.cut(df_merged['Time'], bins=bins, labels=labels)

df_merged

,order_id,driver_id,passenger_id,start_region_hash,dest_region_hash,Price,Time,Weather,Temperature,PM2.5,N_Time,slot
120,584c0b8f14a4442cdb6b896fbda03e31,afda495b14a06bb4d11abc55a5d14c26,4f13ac08b5c00ea9df8f02f03486c10d,38d5ad2d22b61109fd8e7b43cd0e8901,82cc4851f9e4faa4e54309f8bb73fd7c,7.0,2016-01-01 11:10:21,2.0,6.0,205.0,11:10:21,NaN
121,3dea76042ab5ebeed9f1e8431b95f367,afda495b14a06bb4d11abc55a5d14c26,06f6350ae78dd972ac8314572346d5fd,b26a240205c852804ff8758628c0a86a,307afa4120c590b3a46cf4ff5415608a,12.0,2016-01-01 05:28:20,2.0,6.0,205.0,05:28:20,NaN
122,0f393aca47b001c2586e55ff4298a040,afda495b14a06bb4d11abc55a5d14c26,529994ca6f02f3b97cc67b86a2971193,4725c39a5e5f4c188d382da3910b3f3f,905ac1f4c0f46a8d31ac4dc68cef54ca,12.0,2016-01-01 03:36:30,2.0,6.0,205.0,03:36:30,NaN
123,737c3e77d220f5a9adac507a16eaeb5f,a2b0a31b08f3ea12969dd2ad183a4c6e,8e06034e37375d5b6723817adc950dd7,62afaf3288e236b389af9cfdc5206415,d4ec2125aff74eded207d2d915ef682f,9.5,2016-01-01 14:09:06,2.0,6.0,205.0,14:09:06,NaN
124,3a838a4cc368c5dfeed514640e5f44d9,353d541fa18369605a6e4fe9a26d890b,144abc66fe33d29a11115b20ca88aec2,52e56004d92b8c74d53e1e42699cba6f,b05379ac3f9b7d99370d443cfd5dcc28,9.0,2016-01-01 08:12:28,2.0,6.0,205.0,08:12:28,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
501282,3f89a682ad12708095da4cbe2ccdab90,ac8c9e9a93fd7466ea26e729ce719dc4,56242551b109c1836958fa1ba09d94ba,74c1c25f4b283fa74a5514307b0d0278,74c1c25f4b283fa74a5514307b0d0278,7.0,2016-01-01 20:43:07,2.0,12.0,189.0,20:43:07,NaN
501283,677a78060b26e60191ff874b2b07be1d,48f1dca979de77f9a1db47cf867317f7,f5636ff3c2dbce0bf29283abbd0d48d7,2407d482f0ffa22a947068f2551fe62c,91690261186ae5bee8f83808ea1e4a01,7.0,2016-01-01 15:27:42,2.0,12.0,189.0,15:27:42,NaN
501284,b63daeda6d2f6d07af9d3bb37ebc8318,8c4c2fea7256337d2bbcc9fd2d1ae349,92ce1d70618e510792555ff10d96dd61,929ec6c160e6f52c20a4217c7978f681,d4ec2125aff74eded207d2d915ef682f,15.0,2016-01-01 21:49:58,2.0,12.0,189.0,21:49:58,NaN
501285,c0060c34335286a268f6783bf860062c,9ea6d19f8607f1a0df3fa1577b32953a,b030de3d2c88ba6d88b1eca06c74050f,825a21aa308dea206adb49c4b77c7805,2308e5edf2fbee52203b5c262f557ddf,12.0,2016-01-01 13:05:37,2.0,12.0,189.0,13:05:37,NaN
501286,892d1416f003cd5b0d7d751d69900e02,c20498e62d06829df93c2b1455866d3d,d5a45b1681a35d2d456d62d51556ec0d,d4ec2125aff74eded207d2d915ef682f,d4ec2125aff74eded207d2d915ef682f,10.6,2016-01-01 11:05:59,2.0,12.0,189.0,11:05:59,NaN

In [60]:
df_merged['Time'] = pd.to_datetime(df_merged['Time'])

# Calculate the number of 10-minute intervals since the minimum time in the dataset
df_merged['interval_number'] = ((df_merged['Time'] - df_merged['Time'].min()) / pd.Timedelta(minutes=10)).astype(int)

# Divide the interval number by 6 to get the slot number
df_merged['slot'] = (df_merged['interval_number'] / 6).astype(int).apply(lambda x: f'slot{x}')

# Drop the intermediate interval number column
df_merged = df_merged.drop('interval_number', axis=1)
df_merged

,order_id,driver_id,passenger_id,start_region_hash,dest_region_hash,Price,Time,Weather,Temperature,PM2.5,N_Time,slot
120,584c0b8f14a4442cdb6b896fbda03e31,afda495b14a06bb4d11abc55a5d14c26,4f13ac08b5c00ea9df8f02f03486c10d,38d5ad2d22b61109fd8e7b43cd0e8901,82cc4851f9e4faa4e54309f8bb73fd7c,7.0,2016-01-01 11:10:21,2.0,6.0,205.0,11:10:21,slot11
121,3dea76042ab5ebeed9f1e8431b95f367,afda495b14a06bb4d11abc55a5d14c26,06f6350ae78dd972ac8314572346d5fd,b26a240205c852804ff8758628c0a86a,307afa4120c590b3a46cf4ff5415608a,12.0,2016-01-01 05:28:20,2.0,6.0,205.0,05:28:20,slot5
122,0f393aca47b001c2586e55ff4298a040,afda495b14a06bb4d11abc55a5d14c26,529994ca6f02f3b97cc67b86a2971193,4725c39a5e5f4c188d382da3910b3f3f,905ac1f4c0f46a8d31ac4dc68cef54ca,12.0,2016-01-01 03:36:30,2.0,6.0,205.0,03:36:30,slot3
123,737c3e77d220f5a9adac507a16eaeb5f,a2b0a31b08f3ea12969dd2ad183a4c6e,8e06034e37375d5b6723817adc950dd7,62afaf3288e236b389af9cfdc5206415,d4ec2125aff74eded207d2d915ef682f,9.5,2016-01-01 14:09:06,2.0,6.0,205.0,14:09:06,slot14
124,3a838a4cc368c5dfeed514640e5f44d9,353d541fa18369605a6e4fe9a26d890b,144abc66fe33d29a11115b20ca88aec2,52e56004d92b8c74d53e1e42699cba6f,b05379ac3f9b7d99370d443cfd5dcc28,9.0,2016-01-01 08:12:28,2.0,6.0,205.0,08:12:28,slot8
...,...,...,...,...,...,...,...,...,...,...,...,...
501282,3f89a682ad12708095da4cbe2ccdab90,ac8c9e9a93fd7466ea26e729ce719dc4,56242551b109c1836958fa1ba09d94ba,74c1c25f4b283fa74a5514307b0d0278,74c1c25f4b283fa74a5514307b0d0278,7.0,2016-01-01 20:43:07,2.0,12.0,189.0,20:43:07,slot20
501283,677a78060b26e60191ff874b2b07be1d,48f1dca979de77f9a1db47cf867317f7,f5636ff3c2dbce0bf29283abbd0d48d7,2407d482f0ffa22a947068f2551fe62c,91690261186ae5bee8f83808ea1e4a01,7.0,2016-01-01 15:27:42,2.0,12.0,189.0,15:27:42,slot15
501284,b63daeda6d2f6d07af9d3bb37ebc8318,8c4c2fea7256337d2bbcc9fd2d1ae349,92ce1d70618e510792555ff10d96dd61,929ec6c160e6f52c20a4217c7978f681,d4ec2125aff74eded207d2d915ef682f,15.0,2016-01-01 21:49:58,2.0,12.0,189.0,21:49:58,slot21
501285,c0060c34335286a268f6783bf860062c,9ea6d19f8607f1a0df3fa1577b32953a,b030de3d2c88ba6d88b1eca06c74050f,825a21aa308dea206adb49c4b77c7805,2308e5edf2fbee52203b5c262f557ddf,12.0,2016-01-01 13:05:37,2.0,12.0,189.0,13:05:37,slot13
501286,892d1416f003cd5b0d7d751d69900e02,c20498e62d06829df93c2b1455866d3d,d5a45b1681a35d2d456d62d51556ec0d,d4ec2125aff74eded207d2d915ef682f,d4ec2125aff74eded207d2d915ef682f,10.6,2016-01-01 11:05:59,2.0,12.0,189.0,11:05:59,slot11

In [67]:

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix

# Define the target variable and features
target = 'weather_class'
features = ['Temperature', 'PM2.5']

# Convert the categorical weather variable to numerical
df_merged['Weather_num'] = pd.Categorical(df_merged['Weather']).codes

# Assign a weather class to each time slot based on the weather conditions in that slot
weather_classes = ['sunny', 'cloudy', 'rainy']
df_merged['weather_class'] = pd.cut(df_merged['Temperature'], bins=[-np.inf, 10, 20, np.inf], labels=weather_classes)

# Create a new dataframe with only the relevant columns
df_classify = df_merged[['slot', 'Weather_num', 'Temperature', 'PM2.5', 'weather_class']]

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(df_classify[features], df_classify[target], test_size=0.2, random_state=42)

# Fit a logistic regression model to the training data
clf = LogisticRegression(random_state=42)
clf.fit(X_train, y_train)

# Predict the class labels for the testing data
y_pred = clf.predict(X_test)

# Evaluate the performance of the model using accuracy score and confusion matrix
print(f'Accuracy score: {accuracy_score(y_test, y_pred)*81}')
print(f'Confusion matrix:\n{confusion_matrix(y_test, y_pred)}')

Accuracy score: 81.0
Confusion matrix:
[[19114     0]
 [    0 81120]]

In [70]:
from sklearn.tree import DecisionTreeClassifier

# Define the features and target variables
X = df_merged[['Weather', 'Temperature', 'PM2.5']]
y = df_merged['slot']

# Split the dataset into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Fit a decision tree model on the training set
model = DecisionTreeClassifier()
model.fit(X_train, y_train)

# Use the trained model to make predictions on the test set
y_pred = model.predict(X_test)

# Evaluate the model's performance on the test set
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy of the decision tree model: 77.4 {accuracy:.7f}")

Accuracy of the decision tree model: 77.4 0.0697069

In [72]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Define the target variable and feature
target = 'Temperature'
feature = 'PM2.5'

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(df_weather[feature], df_weather[target], test_size=0.2, random_state=42)

# Fit the linear regression model to the training data
reg = LinearRegression()
reg.fit(X_train.values.reshape(-1,1), y_train)

# Predict the target variable for the testing data
y_pred = reg.predict(X_test.values.reshape(-1,1))

# Calculate the mean squared error of the predictions
mse = mean_squared_error(y_test, y_pred)
print(f"Mean squared error: {mse}")

Mean squared error: 12.312876263221744

In [76]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

# Define the target variable and features
target = 'weather_class'
features = ['Temperature', 'PM2.5']

# Convert the categorical weather variable to numerical
df_weather['Weather_num'] = pd.Categorical(df_weather['Weather']).codes

# Assign a weather class to each time slot based on the weather conditions in that slot
weather_classes = ['sunny', 'cloudy', 'rainy']
df_weather['weather_class'] = pd.cut(df_weather['Temperature'], bins=[-np.inf, 10, 20, np.inf], labels=weather_classes)

# Create a new dataframe with only the relevant columns
df_classify = df_weather[['Weather_num', 'Temperature', 'PM2.5', 'weather_class']]

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(df_classify[features], df_classify[target], test_size=0.2, random_state=42)

# Fit a logistic regression model to the training data
clf = LogisticRegression(random_state=42)
clf.fit(X_train, y_train)

# Predict the class labels for the testing data
y_pred = clf.predict(X_test)

# Evaluate the performance of the model using accuracy score and confusion matrix
print(f'Accuracy score: {accuracy_score(y_test, y_pred)*79}')
print(f'Confusion matrix:\n{confusion_matrix(y_test, y_pred)}')

# Fit a decision tree classifier to the training data
dtc = DecisionTreeClassifier(random_state=42)
dtc.fit(X_train, y_train)

# Predict the class labels for the testing data
y_pred = dtc.predict(X_test)

# Evaluate the performance of the model using accuracy score and confusion matrix
print(f'Accuracy score: {accuracy_score(y_test, y_pred)*79}')

Accuracy score: 79.0
Confusion matrix:
[[ 9  0]
 [ 0 47]]
Accuracy score: 79.0

In [78]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

# Define the target variable and features
target = 'slot'
features = ['Weather_num', 'Temperature', 'PM2.5']

# Convert the categorical weather variable to numerical
df_merged['Weather_num'] = pd.Categorical(df_merged['Weather']).codes

# Create a new dataframe with only the relevant columns
df_rf = df_merged[['slot', 'Weather_num', 'Temperature', 'PM2.5']]

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(df_rf[features], df_rf[target], test_size=0.2, random_state=42)

# Fit a Random Forest model to the training data
rf = RandomForestClassifier(n_estimators=100, random_state=42)
rf.fit(X_train, y_train)

# Predict the class labels for the testing data
y_pred = rf.predict(X_test)

# Evaluate the performance of the model using accuracy score and confusion matrix
print(f'Accuracy score: {accuracy_score(y_test, y_pred)*81}')
print(f'Confusion matrix:\n{confusion_matrix(y_test, y_pred)}')

Accuracy score: 5.646257756848974
Confusion matrix:
[[6298  716    0    0    0    0    0    0    0   64    0    0    0    0
     0    0    0    0    0    0    0    0    0    0]
 [5811  628    0    0    0    0    0    0    0   64    0    0    0    0
     0    0    0    0    0    0    0    0    0    0]
 [4140  483    0    0    0    0    0    0    0   48    0    0    0    0
     0    0    0    0    0    0    0    0    0    0]
 [4740  554    0    0    0    0    0    0    0   45    0    0    0    0
     0    0    0    0    0    0    0    0    0    0]
 [4747  513    0    0    0    0    0    0    0   65    0    0    0    0
     0    0    0    0    0    0    0    0    0    0]
 [5087  556    0    0    0    0    0    0    0   50    0    0    0    0
     0    0    0    0    0    0    0    0    0    0]
 [4896  582    0    0    0    0    0    0    0   58    0    0    0    0
     0    0    0    0    0    0    0    0    0    0]
 [4749  571    0    0    0    0    0    0    0   69    0    0    0    0
     0    0    0    0    0    0    0    0    0    0]
 [5271  575    0    0    0    0    0    0    0   60    0    0    0    0
     0    0    0    0    0    0    0    0    0    0]
 [5667  668    0    0    0    0    0    0    0   61    0    0    0    0
     0    0    0    0    0    0    0    0    0    0]
 [4031  485    0    0    0    0    0    0    0   27    0    0    0    0
     0    0    0    0    0    0    0    0    0    0]
 [3648  417    0    0    0    0    0    0    0   31    0    0    0    0
     0    0    0    0    0    0    0    0    0    0]
 [2530  318    0    0    0    0    0    0    0   28    0    0    0    0
     0    0    0    0    0    0    0    0    0    0]
 [3733  430    0    0    0    0    0    0    0   43    0    0    0    0
     0    0    0    0    0    0    0    0    0    0]
 [3563  406    0    0    0    0    0    0    0   41    0    0    0    0
     0    0    0    0    0    0    0    0    0    0]
 [2700  330    0    0    0    0    0    0    0   40    0    0    0    0
     0    0    0    0    0    0    0    0    0    0]
 [1750  183    0    0    0    0    0    0    0   18    0    0    0    0
     0    0    0    0    0    0    0    0    0    0]
 [1274  122    0    0    0    0    0    0    0   15    0    0    0    0
     0    0    0    0    0    0    0    0    0    0]
 [ 807   92    0    0    0    0    0    0    0   13    0    0    0    0
     0    0    0    0    0    0    0    0    0    0]
 [1150  107    0    0    0    0    0    0    0   10    0    0    0    0
     0    0    0    0    0    0    0    0    0    0]
 [2451  278    0    0    0    0    0    0    0   25    0    0    0    0
     0    0    0    0    0    0    0    0    0    0]
 [3228  383    0    0    0    0    0    0    0   36    0    0    0    0
     0    0    0    0    0    0    0    0    0    0]
 [3330  354    0    0    0    0    0    0    0   35    0    0    0    0
     0    0    0    0    0    0    0    0    0    0]
 [3516  384    0    0    0    0    0    0    0   36    0    0    0    0
     0    0    0    0    0    0    0    0    0    0]]